# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://pxrrhxgspipzodzzumig.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4cnJoeGdzcGlwem9kenp1bWlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NDM2MDUsImV4cCI6MjA5ODExOTYwNX0.d48nnz-E9PWYXDRY3MfAwx7ADvb0LcBszfgxcq4iuNM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4cnJoeGdzcGlwem9kenp1bWlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjU0MzYwNSwiZXhwIjoyMDk4MTE5NjA1fQ.0DW4sjGi2f2xBYmXck4Sg3YfxoleTrZ1MRCf7FudtKI

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TmrNbDwpo2S0rK06ar1qoydIrc1Mj7arwxBUUMeNlKkvSET7PEC1tbVSCAExxtRoDPFcdp4DR0Mk8qxGY4BdpbQ00DkrbXfoQ

# App URL (set to your Vercel deployment URL)
NEXT_PUBLIC_SITE_URL=https://vitalityx-n.vercel.app/
